div {
    padding: 8px;
}

input.inputText {
    width: 30%;
}

input.inputTemp {
    width: 5%;
}

#resultpage {
    display: none;
}

.icon {
    width: 96px;
}

#currDisplay{
    display: inline-block;
}
