div {
    padding: 8px;
}

input.inputText {
    width: 30%;
}

input.inputTemp {
    width: 5%;
}

.wi-day-cloudy, .wi-cloudy{
    color: DarkGray;
}

.wi-night-alt-partly-cloudy{
    color: SlateGray;
}

.wi-rain {
    color: SteelBlue;
}

.wi-night-clear{
    color: MidnightBlue;
}

.wi-fog, .wi-strong-wind{
    color: Gray;
}

.wi-snow, .wi-sleet{
    color: lightskyblue;

}

.wi-day-sunny{
    color: yellow;
}

#resultpage {
    display: none;
}

#currDisplay{
    display: inline-block;
}
